@import "variables";

$color-1: #0A84FF;
$bookmark: '../images/icon-bookmark-1.svg';
$highlighter-color: #FFF8D4;

#doc-content {
  .wiki-image {
    padding: 5px 0;
    vertical-align: middle;

    dt {
      margin-bottom: 4rem;

      @media (max-width: $tablet) {
        margin-bottom: 2rem;
      }
    }
  }
}

.highlighter {
  background-color: $highlighter-color;
  box-shadow:
          0px -4px 0 0 $highlighter-color,
          0px 4px 0 0 $highlighter-color;
  padding-left: 3px;
  padding-right: 3px;
}

article {
  ol {
    counter-reset: custom-counter;
    margin-top: 5rem;

    > li {
      counter-increment: custom-counter;
      position: relative;
      padding-left: 36px;
      margin-bottom: 40px;

      p {
        margin-bottom: 40px;
      }

      &:before {
        font-size: 1.2rem;
        line-height: 22px;
        content: counter(custom-counter) ' ';
        color: $color-1;
        border: 1px solid rgba($color-1, .13);
        background-color: rgba($color-1, .03);
        display: inline-block;
        width: 24px;
        height: 24px;
        text-align: center;
        margin-right: 12px;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }

  .note {
    color: #737373;
    margin: 4rem 0;
    background-color: #F9F9FA;
    padding: 28px 30px;

    p {
      margin: 0;
    }
  }

  .video-container {
    margin: 4rem 0 10rem;
  }

  @media (max-width: $tablet) {
    ol {
      margin: 7rem 0 6rem;

      > li {
        margin-bottom: 6rem;
      }
    }

    .note {
      margin: 3rem 0;
    }

    .video-container {
      margin: 2rem 0;
    }
  }
}

#toc {
  margin: 8rem 0 10rem;

  ul {
    margin-top: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  li a {
    position: relative;
    padding-left: 2.5rem;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      height: 16px;
      width: 13px;
      background: url($bookmark) center no-repeat;
      background-size:contain;
    }

    span {
      display: inline;

      &.tocnumber {
        display: none;
      }
    }
  }

  @media (max-width: $tablet) {
    margin: 6rem 0;
  }
}


/**
* vote-wrap
*/
$votes-shadow: 0 9px 14px -9px rgba(0, 0, 0, .5);

.vote-wrap {
  margin: 100px 0 150px;
  border-radius: 2px;
  overflow: hidden;
  color: #4A4A4F;
  font-size: 1.8rem;

  .document-vote {
    background-color: #F7FAFE;
    padding: 40px;
  }

  input {
    margin: 0;
  }

  .helpful {
    display: flex;
    align-items: center;
  }

  .header {
    font-weight: 600;
    flex: 1;
  }

  @media (max-width: $tablet) {
    margin: 80px $gutter * -1px;

    .header {
      font-size: 2.2rem;
      line-height: 3rem;
      margin-bottom: 30px;
      text-align: center;
    }

    .helpful {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.votes {
  box-shadow: $votes-shadow;
  border-radius: 25px;
  overflow: hidden;

  .wait {
    display: none;
  }

  > .btn {
    border: 0;
    width: 50px;
    height: 40px;
    margin: 0;
    font-size: 2rem;
    background: #FFF;
    cursor: pointer;

    &[name="helpful"] {
      padding: 1px 12px 1px 16px;
    }

    &[name="not-helpful"] {
      padding: 1px 16px 1px 12px;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: #E8F2FF;
    }
  }

  @media (max-width: $tablet) {
    border-radius: 30px;

    > .btn {
      width: 75px;
      height: 55px;
      font-size: 2.4rem;
    }
  }
}

.not-helpful-container {
  display: none;
  background-color: #F7FAFE;
  padding: 10px 40px 40px;

  &.visible {
    display: block;
  }

  .title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
    font-family: $opensans;
    color: #4A4A4F;
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin: 0 1px 8px;
  }

  textarea {
    margin-top: 26px;
    padding: 10px 16px;
    width: 100%;
    background-color: #FFF;
  }

  [type="submit"] {
    margin-top: 20px;
  }
  padding: 10px 40px 40px;

  @media (max-width: $tablet) {
    .title,
    label span,
    textarea {
      font-size: 1.5rem;
      line-height: 2.7rem;
      margin-bottom: 2.7rem;
    }

    .title {
      margin-bottom: 15px;
    }

    textarea {
      margin-top: 15px;
      margin-bottom: 0;
    }

    input[type="submit"] {
      margin-top: 20px;
    }
  }
}

.helpful-container {
  padding: 40px 40px 10px;
  background-color: #F4FEF3;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  margin-top: 14px;

  &.visible {
    display: block;
  }

  p {
    font-weight: 600;
    margin-bottom: 30px;
  }

  svg {
    margin-right: 10px;
  }
}

// video-votes
.video-votes {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;

  .votes {
    margin: 0 auto;
  }

  @media (max-width: $tablet) {
    ~ .not-helpful-container,
    ~ .helpful-container {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}


/**
* contributors
*/
$c-color: #737373;

.contributors {
  margin-bottom: 32px;
  color: $c-color;
  font-size: 1.6rem;
  line-height: 3.3rem;

  .user {
    color: $c-color;
    text-decoration: underline;
    transition: color .15s ease-in-out;

    &:hover {
      color: #000;
    }
  }

  @media (max-width: $tablet) {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
}

.help-link {
  margin: 20px 0 60px;
}


/**
* Video slider
 */
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-container {
  max-width: 100%;
  overflow: hidden;

  &.gallery-top {
    margin-top: 3rem;

    .gallery-wrapper {
      display: flex;

      .gallery-slide {
        border-radius: 2px;
        overflow: hidden;
        flex-shrink: 0;
      }
    }
  }

  &.gallery-thumbs {
    padding: 0;
    overflow: hidden;

    .swiper-slide {
      border-radius: 2px;
      overflow: hidden;
      width: 90px;
      opacity: .4;
      display: inline-block;

      img {
        max-height: 90px;
        object-fit: contain;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
