@import "variables";

$arrow-down: '../images/arrow-down.svg';
$slash-color: #BEBEBE;
$bc: #EDEDF0;

#breadcrumbs {
  position: sticky;
  top: 0;
  z-index: 100;

  .shadow {
    position: sticky;
    width: 100%;
    height: 0;
    background: #FFF;
    top: 86px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .34);
    z-index: -1;
  }
}

.breadcrumbs-wrap {
  background: #FFF;
  padding: 15px 0;
  width: 100%;
}

.breadcrumbs {
  max-width: $total-width;
  margin: 0 auto;
  z-index: 2;
  padding: 0 $gutter*1px;
}

.breadcrumbs,
.breadcrumbs .step {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #000;
  font-weight: 600;
}

.breadcrumbs {
  position: relative;
  flex-wrap: wrap;

  li,
  p {
    font-size: 1.6rem;
  }

  .logo {
    //padding-left: 10px;
    max-height: 40px;
    object-fit: contain;
    width: auto;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  li {
    margin: 0;
  }

  > li {
    position: relative;
    display: flex;
    padding: 10px 0;

    &:first-child {
      .drop-menu {
        transform: translateX(-20px) !important;
      }
    }

    &:not(:first-child):before {
      content: '/';
      display: inline-block;
      margin: 0 9px;
      color: $slash-color;
    }
  }

  .step {
    position: relative;
    cursor: pointer;
    transition: color .15s ease-in-out;
    z-index: 0;

    &:hover,
    &:visited {
      color: #000;
    }
  }

  .drop-menu {
    position: absolute;
    display: none;
    padding-top: 85px;
    box-shadow: $bs;
    top: calc(50% - 42px);
    left: 0;
    right: auto;
    background: #FFF;
    z-index: 99;

    + .step {
      &:after {
        content: '';
        display: inline-block;
        background: transparent url($arrow-down) center no-repeat;
        background-size: 13px;
        width: 18px;
        height: 18px;
        margin-left: 8px;
        transition: all .15s ease-in-out;
      }
    }

    ul {
      border-top: 1px solid $bc;
      background-color: #FFF;
      padding: 20px;
      min-width: 220px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        width: 220px;
        margin: 0;
      }

      .active {
        a {
          position: relative;
          font-weight: bold;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &:before {
            content: '';
            display: inline-block;
            padding: 7px 9px;
            margin: 0;
            background: transparent url($arrow-down) 50% 0 no-repeat;
            background-size: 12px;
            transform: rotate(-90deg);
          }
        }
      }

      a {
        display: inline-block;
        padding: 1.4rem 0;
        color: #000;
        line-height: 1.4;
      }
    }

  }

  [data-columns="2"] {
    ul {
      min-width: 500px;
    }
  }
  [data-columns="3"] {
    ul {
      min-width: 750px;
    }
  }

  li:hover {
    .step {
      z-index: 100;

      &:after {
        transform: rotate(180deg);
      }
    }

    .drop-menu {
      display: block;
    }
  }

  @media (max-width: $tablet) {
    .logo {
      max-height: 12px;
      margin-right: 8px;
      margin-bottom: 1px;
    }

    li,
    p,
    a {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    li {
      display: flex;
      align-items: center;

      &:not(:first-child):before {
        margin: 0 10px;
      }
    }

    .drop-menu {
      top: calc(50% - 20px);
      padding-top: 40px;

      + .step {
        &:after {
          width: 10px;
          margin-left: 6px;
          background-size: 10px;
        }
      }

      ul {
        padding-top: 15px;

        a {
          padding: 1rem 0;
        }

        .active a:before {
          padding: 6px;
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .breadcrumbs {
    &:hover > li .step {
      color: #BFBFBF;
    }

    > li:hover .step,
    .drop-menu:hover {
      color: #000;
    }

    .drop-menu {
      background: transparent;
    }
  }
}
