$col1: #E5E7E8;
$col2: #3B88FE;

.radio-btn {
  position: relative;
  display: flex;
  align-items: center;

  input[type="radio"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
  }

  span {
    position: relative;

    &:before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 15px;
      height: 15px;
      background-color: #FFF;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px $col1;
      transition: all .15s ease-in-out;
    }
  }

  &:hover input[type="radio"]:not(disabled) span:before {
    border-color: $col2;
  }

  input[type="radio"] {
    &:checked + span:before {
      box-shadow: inset 0 0 0 5px $col2;
    }

    &:disabled + span {
      opacity: .4;
    }
  }
}
