@import "variables";

$border-color: #E5E7E8;
$shadow: 0 5px 22px -2px rgba(23, 49, 83, .08);

.wiki-related-documents h2 {
  margin-bottom: 20px;
}

// slider
$slidernav-color: #0060DF;

.slider-wrapper {
  position: relative;
  max-width: $total-width + 60 * 2;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-container {
  @include component-wrap;
  overflow: visible;
  width: 100%;
  height: 100%;
  position: initial;
  margin-bottom: 50px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;

    a {
      height: 100%;
      text-decoration: none;
      border: 1px solid $border-color;
      background-color: #FFF;
      padding: 30px;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: inset 0 0 0 1px $border-color, $shadow;
      transition: all .15s ease-in-out;

      &:hover,
      &:visited,
      &:focus {
        text-decoration: none;
      }

      &:hover {
        box-shadow: inset 0 0 0 3px $border-color, 0 13px 32px -11px rgba(10, 26, 48, .16);
      }

      .title {
        color: #000;
        font-size: 2.2rem;
        line-height: 3.3rem;
        margin: 0 0 30px;
        font-weight: 500;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #4A4A4F;
        margin: 0;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    left: 0;
    right: auto;
    border-radius: 100%;
    background: $slidernav-color url('../images/arrow.svg') center no-repeat;
    height: 42px;
    width: 42px;
    cursor: pointer;
    outline: none;
    z-index: 2;
  }

  .next {
    transform: rotate(0);
  }

  .prev {
    transform: rotate(180deg);
  }

  .swiper-button-disabled {
    opacity: 0;
    cursor: initial;
    background-color: lighten($slidernav-color, 20%)
  }

  .next {
    left: auto;
    right: 0;
  }

  @media (max-width: $mobile) {
    .prev,
    .next {
      display: none;
    }
  }
}
