@import "variables";

$border-color: #E5E7E8;
$shadow: 0 5px 22px -2px rgba(23, 49, 83, .08);

.wiki-related-documents h1 {
  margin-bottom: 0;
}

// slider
$slidernav-color: #0060DF;

.slider-wrapper {
  position: relative;
  max-width: $total-width + 60;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-container {
  @include component-wrap;
  overflow: visible;
  width: 100%;
  height: 100%;
  position: initial;
  padding-top: 20px;
  margin-bottom: 50px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;

    a {
      height: 100%;
      text-decoration: none;
      background-color: #FFF;
      padding: 30px;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: inset 0 0 0 1px $border-color, $shadow;
      transition: all .15s ease-in-out;

      &:hover,
      &:visited,
      &:focus {
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.03);
        box-shadow: inset 0 0 0 3px $border-color, 0 13px 32px -11px rgba(10, 26, 48, .16);
      }

      .title {
        color: #000;
        margin: 0 0 30px;
        font-weight: 600;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #4A4A4F;
        margin: 0;
      }
    }
  }

  .next,
  .prev {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 86%);
    z-index: 2;
    width: 10%;
  }

  .prev {
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 86%);
    right: auto;
    left: 0;
  }


  .prev,
  .next {
    outline: none;

    .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      border-radius: 100%;
      background: $slidernav-color;
      border: 2px solid $slidernav-color;
      height: 42px;
      width: 42px;
      cursor: pointer;
      transition: all .15s ease-in-out;
      z-index: 3;

      &:hover {
        background-color: #FFF;

        svg path {
          fill: $slidernav-color;
          stroke: $slidernav-color;
        }
      }

      &:active {
        background-color: $slidernav-color;

        svg path {
          fill: lighten($slidernav-color, 20%);
          stroke: lighten($slidernav-color, 20%);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .next {
    .icon {
      left: auto;
      right: 10px;
      transform: rotate(0);
    }
  }

  .prev {
    .icon {
      transform: rotate(180deg);
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    cursor: initial;
    background-color: lighten($slidernav-color, 20%)
  }


  @media (max-width: 630px) {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
      max-width: 290px;
    }
  }

  @media (max-width: $mobile) {
    .swiper-slide a {
      .title {
        margin-bottom: 20px;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
