@import "variables";

$border-color-1: #D1D5D7;

.search-form-large {
  border-top: 1px solid $border-color-1;
  border-bottom: 1px solid $border-color-1;
  background-color: #F9F9FA;
  padding-top: 40px;
  padding-bottom: 40px;

  .inner {
      @include component-wrap;
  }

  form {
    position: relative;
    z-index: 101;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  input[type="search"] {
    position: relative;
    font-size: 1.6rem;
    color: #000;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;

    background: #FFF;
    height: 100%;
    box-shadow: none;
    outline: none;
    border: 1px solid $border-color-1;
    padding: 15px 20px;

    &::placeholder {
      color: #000;
    }

    &:focus {
      border-color: #0060DF;
    }
  }

  button[type="submit"] {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: absolute;
    background: transparent url('../images/icon_search.svg') center no-repeat;
    width: 48px;
    height: 48px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: $tablet) {
    padding-top: 18px;
    padding-bottom: 18px;

    input[type="search"] {
      font-size: 1.5rem;
      line-height: 1;
      padding: 12px;
    }
  }
}

.search-results {
  background-color: #FFF;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 2px);
  padding: 10px 20px;
  box-shadow: $bs;
  width: 100%;
  opacity: 0;
  max-height: 0;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
  overflow: hidden;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
  }

  .title,
  li {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 15px 0;
    font-weight: bold;

    a {
      color: #000;
      font-weight: 400;
    }
  }

  @media (max-width: $mobile) {
    .title,
    li {
      font-size: 1.5rem;
      line-height: 2.7rem;
    }
  }
}
