$zilla: 'Zilla Slab', 'Open Sans', X-LocaleSpecific, sans-serif;
$opensans: 'Open Sans', X-LocaleSpecific, sans-serif;

$base-font-size: 100; // Gets used as %
$line-height: 1.4;
$link-color: #0060DF;
$link-color-hover: darken($link-color, 10%);
$link-color-visited: #5011b3;

$gutter: 20;
$total-width: 960px;

$bs: 0 6px 16px 0 rgba(0, 0, 0, .3);

$mobile: 456px;
$tablet: 768px;

@mixin component-wrap($width: $total-width) {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 $gutter * 1px;
  max-width: $width;
}

@mixin display-1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-weight: 500;
}

@mixin display-2 {
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-weight: 500;
}

@mixin display-3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 500;
}

@mixin display-4 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
}

@mixin text-1 {
  font-size: 1.8rem;
  line-height: 3.3rem;
  font-weight: 400;
}

@mixin text-2 {
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: 400;
}
